.Column {
  box-sizing: border-box;
}

.Column__title .Header__content {
  color: var(--white);
}

.Column__wrapper {
  padding: 16px 0;
  box-sizing: border-box;
}

.Column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Column__headerButton {
  padding-right: 0;
  border: none
}
