.Columns .Panel__in {
  display: flex;
  flex-direction: column;
}

.Columns__list {
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--dynamic_blue);
}

.Columns__list .Gallery__viewport {
  flex-grow: 1;
}